<div class="contenido">
    <app-navbar-home></app-navbar-home>
    <section class="py-5">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center h-100">
                <div class="col col-xl-12">
                    <div class="card  border-dark rounded-2">
                        <div class="row g-0">
                            <div class="card-body p-4 p-lg-5 text-black">
                                <h1 class="card-title text-center mb-5">Resultados</h1>

                                <div class="row justify-content-center align-items-center g-2 mb-2 fw-bold">
                                    <div class="col">Sala</div>
                                    <div class="col">Nombre</div>
                                    <div class="col">Numero</div>
                                    <div class="col">Fecha</div>
                                </div>
                                <div class="row justify-content-center align-items-center g-2" *ngFor="let participante of participantes">
                                    <div class="col">{{participante.idSala}}</div>
                                    <div class="col">{{participante.uid}}</div>
                                    <div class="col">{{participante.numero}}</div>
                                    <div class="col">2022-12-11</div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <app-footer-home></app-footer-home>

</div>